<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481438754928-aofrmku2rqji301gf4iugf8q2l6cisha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481438754928-aofrmku2rqji301gf4iugf8q2l6cisha</string>
	<key>API_KEY</key>
	<string>AIzaSyAaK_30OnENuN4lwCTF6SysV7e6nH3zy-g</string>
	<key>GCM_SENDER_ID</key>
	<string>481438754928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZIshmael.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c7dba</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c7dba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481438754928:ios:3c9a1f60beed88ca</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c7dba.firebaseio.com</string>
</dict>
</plist>